@import "custom";

body {
    height: 100vh;
    background: rgb(78, 78, 168);
}

#root {
    height: 100vh;
    display: flex; 
    flex-direction: column;
}

.router {
    height: 100%;
    overflow: auto;
}